
## DOCKER DATABASE
export DATABASE_HOST="host.docker.internal"
export DATABASE_NAME='aviator_bot_db'
export DATABASE_USER='postgres'
export DATABASE_PASSWORD='postgres'
export DATABASE_PORT=5433

## TEST
export TEST_DATABASE_HOST=postgres
export TEST_DATABASE_NAME=aviator_db_test
export TEST_DATABASE_USER=postgres
export TEST_DATABASE_PASSWORD=postgres
export TEST_DATABASE_PORT=5432


export TELEGRAM_API_ID='REDACTED_TELEGRAM_API_ID'
export TELEGRAM_API_HASH='REDACTED_TELEGRAM_API_HASH'
export TELEGRAM_PHONE_NUMBER='REDACTED_PHONE_NUMBER'
export TELEGRAM_CHANNEL_NAME= '@aviator_bot_test'

# MODELS AND PREDICTIONS
export DEFAULT_SEQ_LEN=18
#export GENERATE_AUTOMATIC_MODEL_TYPES="sequential_lstm,sequential"
export GENERATE_AUTOMATIC_MODEL_TYPES="sequential_lstm"
export EPOCHS_SEQUENTIAL_LSTM=2000
export EPOCHS_SEQUENTIAL=2000
# AVERAGE_PERCENTAGE_ACCEPTABLE
export PERCENTAGE_ACCEPTABLE="0.7"
export PERCENTAGE_MODEL_TO_INACTIVE="0.65"
export DIFF_MULTIPLIERS_TO_GENERATE_NEW_MODEL=50
export NUMBER_OF_MODELS_TO_PREDICT=2
export NUMBER_OF_MULTIPLIERS_TO_GENERATE_RESULTS=200

export TELEGRAM_BOT_TOKEN="REDACTED_TELEGRAM_BOT_TOKEN"

