
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: aviator_bot_backend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: aviator_bot_backend.settings.production
    PYTHONPATH: '/var/app/current:$PYTHONPATH'
    REDIS_HOSTNAME: 'redis'
    REDIS_PORT: '6379'
    DEFAULT_SEQ_LEN: '15'
    GENERATE_AUTOMATIC_MODEL_TYPES: 'sequential_lstm'
    EPOCHS_SEQUENTIAL_LSTM: '1000'
    EPOCHS_SEQUENTIAL: '1000'
    PERCENTAGE_ACCEPTABLE: '0.7'
    PERCENTAGE_MODEL_TO_INACTIVE: '0.65'
    DIFF_MULTIPLIERS_TO_GENERATE_NEW_MODEL: '50'
    NUMBER_OF_MODELS_TO_PREDICT: '1'
    NUMBER_OF_MULTIPLIERS_TO_EVALUATE_MODEL: '200'
    ALLOWED_HOSTS: 'localhost'
    DOMAIN_NAME: 'localhost'
    SECRET_KEY: 'add-secret-key'
    AWS_ACCESS_KEY_ID: 'add-your-aws-access-key-id'
    AWS_SECRET_ACCESS_KEY: 'add-your-aws-secret-access-key'
    AWS_STORAGE_BUCKET_NAME: 'add-your-aws-storage-bucket-name'
    APP_VERSION: '1.0.0'
    SENTRY_URL: 'https://123@0455323423234234.ingest.sentry.io/0455323423234234'
    ENVIRONMENT: 'production'
    SCHEDULE_GENERATE_CATEGORY_RESULT: '*/15'
  aws:elbv2:listener:80:
    DefaultProcess: http
    ListenerEnabled: 'true'
    Protocol: HTTP
    Rules: ws
  aws:elbv2:listenerrule:ws:
    PathPatterns: /ws/*
    Process: websocket
    Priority: 1
  aws:elasticbeanstalk:environment:process:http:
    Port: '80'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:websocket:
    Port: '5000'
    Protocol: HTTP
