{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Imagen y Enlace</title>
    <style>
        body {
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        img {

            width: 200px;
            height: auto;
        }
        a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <img src="{% static 'img/crashbot-big.png' %}" alt="Mi Imagen">
</body>
</html>