
## DOCKER DATABASE
export DATABASE_HOST="host.docker.internal"
export DATABASE_NAME='aviator_bot_db'
export DATABASE_USER='postgres'
export DATABASE_PASSWORD='postgres'
export DATABASE_PORT=5430

## TEST
export TEST_DATABASE_HOST=postgres
export TEST_DATABASE_NAME=demo_cc_test
export TEST_DATABASE_USER=postgres
export TEST_DATABASE_PASSWORD=postgres
export TEST_DATABASE_PORT=5432