container_commands:
  00_pip_upgrade:
    command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip"
    ignoreErrors: false
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && django-admin collectstatic --noinput"
    leader_only: true
  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
    leader_only: true
  04_load_fixtures:
    command: 'source /var/app/venv/*/bin/activate && python manage.py loaddata fixtures/*.json'
    leader_only: true
